* {
  box-sizing: border-box;
}

/* 메인페이지 공지문구*/
.notice {
  padding: 30px 0;
  font-size: 125%;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.outer-box {
  padding: 30px 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 192, 192);
}

.slideshow-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slideimage-box {
  margin-bottom: 20px;
}

.pickSlide {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  padding: 16px;
  color: rgb(88, 87, 87);
  font-weight: bold;
  font-size: 30px;
  transition: 0.4s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slideImage {
  display: block;
  max-height: 450px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #686565;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
