.container {
  width: 1200px;
  padding-bottom: 2%;
  min-height: calc(83vh);
  word-break: break-all;
  margin: 0 auto;
}

.inner_text {
  padding-left: 3%;
}

.contents font {
  line-height: 0.5em;
}

font {
  white-space: pre-line;
}
