.navbar {
  background-color: #051627;
  height: 100px;
  position: fixed;
  z-index: 1;
}

.header {
  width: 100%;
}

.logo {
  float: left;
  width: 120px;
  height: 45px;
  margin: 9px 30px 16px 0;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 2%;
  cursor: pointer;
}

.subitem {
  pointer-events: none;
}

.subitem_icon {
  padding-right: 10px;
}

.site_page_header {
  position: fixed;
  width: 100%;
  background-color: #d5dde3;
  color: black;
  top: 60px;
  height: 90px;
}

.header_contents {
  padding-left: 10%;
  padding-top: 1%;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}
